body {
    align-items: center;
    justify-content: center;
    background-color: #086972;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    text-align: center;
    color: white;
    
}
.container {
    width: 300px;
    margin: 0 auto;
}